In [2]:
#() -> paranthesis
#[] -> square braces
#{} -> curly braces
# : -> colon
#; -> semi colon

In [3]:
#Data types -> Numbers -> Int, float -> type() -> print()
#string -> '', ""
#'''abc''', """abc"""

In [4]:
#List -> list is sequence types of data type, ordered, duplictaes allowed, changes allowed(mutable), its denoted by
#square braces,values are seperated by commas
list1 = [1,2,3,"a",'b',9.0, 'a',1]#heterogenious list
print(list1)
type(list1)

[1, 2, 3, 'a', 'b', 9.0, 'a', 1]

list

In [5]:
#tuples -> similar to list -> seperated by paranthesis, changes not allowed (immutable) ->
#tuples are more faster then list
tup = (1,2,3,'a','r',2)
print(tup)
type(tup)

(1, 2, 3, 'a', 'r', 2)

tuple

In [6]:
#Mutable / Immutable
a = ["a","e","i",2,0.9]    #indexing -> indexing start with zero
print(a)

['a', 'e', 'i', 2, 0.9]

In [7]:
a[0]

'a'

In [8]:
a[1]

'e'

In [9]:
a[2]

'i'

In [10]:
a[3]

2

In [11]:
a[4]

0.9

In [12]:
a[5]

IndexError: list index out of range

In [13]:
a[3] = "o"

In [14]:
print(a)

['a', 'e', 'i', 'o', 0.9]

In [15]:
#o.9 -> "Python"

In [16]:
a[4]="python"
print(a)

['a', 'e', 'i', 'o', 'python']

In [18]:
a = ("a","e","i",2,0.9) #indexing same as list but tuples are immutable
a[3] = "o"
print(a)

TypeError: 'tuple' object does not support item assignment

In [30]:
\a = ("I have", "to come", "there")
type(a)

tuple

In [31]:
b = 1,2,3,4,5
type(b)

tuple

In [ ]:
#

In [33]:
s = ("Python")
type(s)

str

In [35]:
#slicing
b = "Hello Python"
b[0:7]

'Hello P'

In [36]:
b[0:] #after

'Hello Python'

In [37]:
b[:12]  #before

'Hello Python'

In [38]:
s = [1,2,3,4,5,6,7]
s[2:6]

[3, 4, 5, 6]

In [39]:
d = (1,2,3,4,5,6,7)
d[4:7]

(5, 6, 7)

In [ ]:
#[1,2,3,"e",[1,3,5],0,"u"] -> indexing and slicing

In [19]:
m=[1,2,3,"e",[1,3,5],0,"u"] 
m[4]

[1, 3, 5]

In [20]:
m[4][1]

3

In [21]:
m[1:5]

[2, 3, 'e', [1, 3, 5]]

In [40]:
#Modify string
#upper() -> built in function's
"vineet".upper()

'VINEET'

In [46]:
a = "vineet"
a = a.upper()
print(a)

VINEET

In [47]:
#lower()
a = "PATHAK"
a.lower()

'pathak'

In [49]:
a = 1,2,3,4
print(type(a))

<class 'tuple'>