In [3]:
##Modify string
#remove whitespaces -> strip()
a = "      I am from India        "
print(a)
len(a)

      I am from India

29

In [4]:
#removing space from beginning and end
r = a.strip()
print(r)
len(r)

I am from India

15

In [2]:
#replace ->
a = "Known ten sence"
a.replace("n", "o")

'Koowo teo seoce'

In [10]:
#addition -> +
a= "Good"
b = "Aftrenoon"
print(a + b)

GoodAftrenoon

In [11]:
a= "Good "
b = "Aftrenoon"
print(a + b)

Good Aftrenoon

In [12]:
a= "Good"
b = "Aftrenoon"
print(a +" " + b)

Good Aftrenoon

In [16]:
a = "10"
b = "20"
a + b

'1020'

In [17]:
#title()
j = "i am from india"
j.title()

'I Am From India'

In [21]:
#Boolean -> True, False
print(4 != 9)

True

In [ ]:
#Python operators
#seven types ->

    #Arithmetic operators
    #Assignment operators
    #Comparison operators
    #Logical operators
    #Identity operators
    #Membership operators
    #Bitwise operators

# Arithmetic operators
+, -, *, /, %(modular),//(floor devision), **(Exponencial)

In [25]:
7 % 3 #returns remainder

1

In [26]:
5 // 2

2

In [5]:
5/2

2.5

In [27]:
6 // 3   #return operands

2

In [30]:
3 ** 4

81

# Python Assignment Operators
=, +=, -=, *=, //=, %=, **=

In [31]:
a = 1
e = a + 3
print(e)

4

In [39]:
a = 9
a%=1 #a = a + 1
print(a)

0

# Python Comparison Operators -> return boolean value
==, !=, >, <, >=, <=

In [40]:
a = 10
b = 20
a == b

False

In [41]:
a != b

True

In [42]:
a>b

False

In [43]:
a < b

True

In [44]:
a >=b

False

# Python Logical Operators
and, or, not

In [45]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [47]:
#and -> Returns True if both statements are true
a = 10
b = 10
a == b and a >= b

True

In [51]:
#or -> Returns True if one of the statements is true
a == b or a > b

True

In [55]:
#not -> Reverse the result, returns False if the result is true
not(a == b or a != b)

False

In [52]:
a == b and a <= b

True

# Python Identity Operators -> boolean
#is, is not

In [7]:
a = 10
b = 20
a is b

False

In [8]:
a is not b

True

In [9]:
#list access
#change item values
list1 = [1,2,3,"a"]
list1[3] = 4
list1

[1, 2, 3, 4]

In [10]:
#insert()
list1 = [1,2,3,"a"]
list1.insert(3, 4)
list1

[1, 2, 3, 4, 'a']

In [11]:
#append -> item assign in last index
list1 = [1,2,3,"a"]
list1.append("b")
list1

[1, 2, 3, 'a', 'b']

In [12]:
#extend -> two list append into one list
list1 = [1,2,3,"a"]
list2 = [4,5,6,"b"]
list2.extend(list1)

In [13]:
list2

[4, 5, 6, 'b', 1, 2, 3, 'a']

In [14]:
list2.remove("a")
list2

[4, 5, 6, 'b', 1, 2, 3]

In [15]:
#remove
list1 = [1,2,3,"a"]
list1.remove("a")
list1

[1, 2, 3]

In [16]:
#pop -> index, another -> last element removed
list1 = [1,2,3,"a"]
list1.pop(2)
list1

[1, 2, 'a']

In [17]:
list1 = [1,2,3,"a"]
list1.pop()
list1

[1, 2, 3]

In [18]:
list1 = [1,2,3,"a"]
del list1

In [1]:
#list1

In [20]:
list1 = [1,2,3,"a"]
list1.clear()
list1

[]

In [21]:
#sorting
a = ["d","e","b","a","c"]
a.sort()
a

['a', 'b', 'c', 'd', 'e']

In [22]:
b = [2,5,4,3,1,0]
b.sort()
b

[0, 1, 2, 3, 4, 5]

In [23]:
# list sort only same type of data 
c = [1,0,"d","e","a",9]
c.sort()
c

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
#descending
a = ["d","e","b","a","c"]
a.sort(reverse = True)
a

['e', 'd', 'c', 'b', 'a']

In [25]:
b = [2,5,4,3,1,0]
b.sort(reverse=True)
b

[5, 4, 3, 2, 1, 0]

In [26]:
a = [1,2,3,4,[1,2,[6,7],3,4],"p"]
print(a[3])
print(a[4][0:2])

4
[1, 2]

In [27]:
a[5]

'p'

# LIST METHODS : append, clear, extend, insert, sort, remove, pop, reverse,count.

In [1]:
f = ["a","b","a","g","a"]
s = f.count("a")
s

3