In [39]:
a = 10  
b = 4  
  
print (a + b)    # addition  
print (a - b)     # subtraction  
print (a * b)     # multiplication  
print (a / b)      # division  
print (a % b)    # modulus  
print (a ** b)   # exponentiation  
print (a // b)    # floor division

14
6
40
2.5
2
10000
2

In [1]:
a = 7  # assign value to a  
b = 4  # assign value of a into b  
#c = a + b -2  # calculate an expression and place result into c  
  
b -= 2# equivalent to b = b - 2  
print(b)
b *= 2   # equivalent to b = b * 2
print(b)
b /= 2    # equivalent to b = b / 2
print(b)
b %= 2   # equivalent to b = b % 2 
print(b)
b //= 2  # equivalent to b = b // 2
print(b)
b **= 2  # equivalent to b = b ** 2
print(b)
#binary number
#b &= 2   # equivalent to b = b & 2  
#b |= 2    # equivalent to b = b | 2  
#b ^= 2    # equivalent to b = b ^ 2  
#b >>= 2  # equivalent to b = b >> 2  
#b <<= 2  # equivalent to b = b << 2

2
4
2.0
0.0
0.0
0.0

In [11]:
b = 4
b += 2
print(b) # equivalent to b = b + 2

6

In [12]:
a = 3  
b = 7  
  
print(a == b)  # true if a and b are equal  
print(a != b)  # true if a and b are not equal  
print(a > b)  # true if a is greater than b  
print(a < b)  # true if a is less than b  
print(a >= b)  # true if a is greater than or equal to b  
print(a <= b)  # true if a is less than or equal to b

False
True
False
True
False
True

In [13]:
a = 5  
b = 8  
  
# True if both conditions are true  
print(a > 3 and a < 7)  
  
# True if one condition is true  
print(a > 6 or b < 7)  
  
# True if given condition is false (inverse of given condition)  
print(not(a > 3))

True
False
False

In [14]:

a = ["hello", "world"]  
b = ["hello", "world"]  
c = a  
a = b 
  
# prints true as both are same element  
print(a is c)  
  
# prints false as they are two diffent values  
# content may be same, but value locations are different  
print(a is b)  
  
# comparing the values gives true  
print(a == b)  
  
# not negates the comparison result  
# if two variables are not same, then result is true  
print(a is not c)  
print(a is not b)

False
True
True
True
False

# membership operator

In [15]:
# membership operator
a = ["hello", "world"]  
  
# checks if given element is present in the a list  
print("world" in a)  
  
# checks if given element is not present in the a list  
print("world" not in a)

True
False

In [16]:
#bitwise
a = 1   # binary equivalent of 1 is  1  
b = 2   # binary equivalent of 2 is 10  
  
# In case of AND(&) operation, if both bits are 1, set result to one  
# in our case, two corresponding bits are not 1  
# so, corresponding result is 0  
print(a & b)  
  
# OR operation (|), gives 1 if either operands are 1  
# The reult of 0 and 1 is 1, 1 and 0 is 1  
# hence, a | b gives binary 11 or decimal equivalent of 3  
print(a | b)  
  
  
# XOR (^) returns 1 if only one of the operands is 1  
# 1 ^ 1 = 0, 0 ^ 0 = 0, 1 ^ 0 = 1, 0 ^ 1 = 1  
# considering a and b, they have only ones in each bit position  
print(a ^ b)  
  
# NOT operation negates the bit value  
# NOT 0 = 1, NOT 1 = 0  
# while negating b, all preceeding zeros are turned to one  
# this leads to a negative number  
print(~ b)  
  
  
# zero fill left shift (<<)  
# zeros are filled from right, bits are shifted to left  
# left most bits fall off  
# in this example, we shift the bits of b twice  
# 10 (b) shifted twice is 1000 (which is decimal 8)  
print(b << 2)  
  
  
# signed right shift (>>)  
# shift the bits to the right, copy leftmost bits to the right  
# right most bits fall off  
# when we shift b (10) once to the right, it becomes 1  
print(b >> 1)

0
3
3
-3
8
1

In [17]:
#tuples
#Tuples are used to store multiple items in a single variable.
#A tuple is a collection which is ordered and unchangeable.
#Tuples are written with round brackets.(Paranthesis)

In [18]:
#Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [19]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [20]:
#Join Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [21]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [3]:
tuple1 = [1,2,3,4,5]
tuple2 = (1, 2, 3)
tuple1.extend(tuple2)
tuple1

[1, 2, 3, 4, 5, 1, 2, 3]

In [23]:
#count()
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [24]:
#index
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [25]:
t = (5,'program', 1)

# t[1] = 'program'
print(t[1])

# t[0:3] = (5, 'program', (1+3j))
print(t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

program
(5, 'program', 1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Python Set
#Set is an unordered collection of unique items.
#Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.
#duplicates values not allowed

In [3]:
a = {1,4,7,"a","u",0, 9.5,1}
print(a)

{0, 1, 4, 7, 'a', 9.5, 'u'}

In [4]:
a1 = {1,4,"a","k"}
"a" not in a1

False

In [5]:
#mutable
#add()
a = {"a","b","c"}
a.add("d")
a

{'a', 'b', 'c', 'd'}

In [6]:
a = {1,2,3,4}
b = {"a","y","r"}
a.update(b)
print(a)

{1, 2, 3, 4, 'a', 'y', 'r'}

In [21]:
s = {2,4,7}
s1 = [1,3,5,6]
s.update(s1)
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
#remove -> 
s2 = {1, 2, 3, 4, 5, 6, 7}
s2.remove(4)
print(s2)

{1, 2, 3, 5, 6, 7}

In [23]:
s2.remove("apple")
print(s2)

KeyError: 'apple'

In [10]:
#remove and discard
#If the item to remove does not exist, remove() will raise an error.
# If the item to remove does not exist, discard() will NOT raise an error.

In [11]:
s3 = {"a","h","l",0.6}
s3.discard("h")
print(s3)

{'a', 0.6, 'l'}

In [12]:
s3 = {"a","h","l",0.6}
s3.discard("apple")
print(s3)

{'a', 0.6, 'l', 'h'}

In [13]:
#set theory
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
s1.intersection(s2)

{4, 5}

In [16]:
s1 & s2

{4, 5}

In [17]:
s1.difference(s2)

{1, 2, 3}

In [18]:
s1 - s2

{1, 2, 3}

In [19]:
s2 - s1

{6, 7, 8}

In [46]:
s = {1,2,3}
s.clear()
s

set()

# set methods :add, clear, difference, remove, pop, union, update, intersection,discard,

In [25]:
s = {1,2,3}
s.pop()
print(s)

{2, 3}

## Dictionary
### Dictionaries are used to store data values in {key:value} pairs.
### A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [36]:
dictionary = {"Name" : "Mohan",
             "Age" : 45,
             "Course" : "P.hd",
             "Address" : "New Delhi"}
dictionary

{'Name': 'Mohan', 'Age': 45, 'Course': 'P.hd', 'Address': 'New Delhi'}

In [37]:
dictionary["Address"]="Banglore"
dictionary

{'Name': 'Mohan', 'Age': 45, 'Course': 'P.hd', 'Address': 'Banglore'}

In [32]:
dictionary.keys()

dict_keys(['Name', 'Age', 'Course', 'Address', 'address'])

In [33]:
dictionary.values()

dict_values(['Mohan', 45, 'P.hd', 'New Delhi', 'Banglore'])

In [38]:
d1 = {"Name" : "Mohan","Age" : 45,"Course" : "P.hd","Address" : ["New Delhi", "Banglore","Chennai"]}
d1

{'Name': 'Mohan',
 'Age': 45,
 'Course': 'P.hd',
 'Address': ['New Delhi', 'Banglore', 'Chennai']}

In [54]:
d1.get("Name")

'Mohan'

In [55]:
d1.get("Address")

['New Delhi', 'Banglore', 'Chennai']

In [57]:
d1["Name"]

'Mohan'

In [61]:
d2 = {"Name" : "Mohan","Age" : 45,"Course" : "P.hd","Address" : "New Delhi", "Age" : 23}
x = d2.keys()
print(x)

d2["Name"] = "Sohan"
#print(x)
d2

dict_keys(['Name', 'Age', 'Course', 'Address'])

{'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}

In [63]:
#The items() method will return each item in a dictionary, as tuples in a list.
x = d2.items()
x

dict_items([('Name', 'Sohan'), ('Age', 23), ('Course', 'P.hd'), ('Address', 'New Delhi')])

In [64]:
#pop -> The pop() method removes the item with the specified key name:
d4 = {'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}
d4.pop("Course")
d4

{'Name': 'Sohan', 'Age': 23, 'Address': 'New Delhi'}

In [65]:
#popitem() -> The popitem() method removes the last inserted item 
d4 = {'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}
d4.popitem()
d4

{'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd'}

In [66]:
d4 = {'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}
d4.clear()
d4

{}

# dictionary methods: clear, get, items, keys, pop, popitem, update, values,copy

In [67]:
d4 = {'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}
d4.update({"Age" : 40})
d4

{'Name': 'Sohan', 'Age': 40, 'Course': 'P.hd', 'Address': 'New Delhi'}

In [68]:
d4 = {'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}
a = d4.copy()
print(a)

{'Name': 'Sohan', 'Age': 23, 'Course': 'P.hd', 'Address': 'New Delhi'}